*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imagen{
    vertical-align: text-top;
}

.tabla{
    background-color: rgba(89, 89, 89, 0.075);
}
    
.imgenPastura{
    width: 400px;
}

