*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h4{
    background-color: aliceblue;
    font-size: 34px;
    width: 13%;
}

.table{
    background-color: white;
}

.tr:hover{
    background-color:rgba(10, 72, 47, 0.303) ;
}