*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.table{
    background-color: white;
}

.tr:hover{
    background-color:rgba(0, 217, 255, 0.123) ;
}

.container-sm{
    margin-bottom: 120px;
}

.tablas{
   border: 1px; 
}

.tableAll{
    padding: 30px;
}