*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{

    color: rgb(0, 0, 0);
    text-align: center;
    font-style:oblique;
    font-size: 100px;
}

.fondo{
    height: 150%;
    background-image:url(https://img.freepik.com/foto-gratis/fondo-textura-hierba_64049-124.jpg?w=2000);
}

html{
    background-image:url(https://img.freepik.com/foto-gratis/fondo-textura-hierba_64049-124.jpg?w=2000);
}

label{
    margin-left: 10%;
    background-color: black;
    color: aqua;
}

#recargar{
    margin-left: 20px;
}




